*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #000000;
    margin: 0;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    position: relative;
    isolation: isolate;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    width: auto;
    color: white;
    font-size: 2rem;
}

@keyframes scanlines {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 0 -8px;
    }
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%);
    background-size: 100% 4px;
    pointer-events: none;
    z-index: 9999;
    animation: scanlines 3s linear infinite;
    will-change: background-position;
    transform: translateZ(0);
}