body {
    font-weight: bold;
}


body {
    background-color: #000000;
    display: flex;
    position: relative;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    position: relative;
    isolation: isolate;
    border: 1px solid white;
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    width: 85vw;
    max-width: 600px;
    color: white;
    font-size: 32px;
    gap: 5px;
}


.container > * {
    grid-column: 1 / -1;
    text-align: center;
}

@keyframes scanlines {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 -8px;
    }
}

@media print {
    body::before {
        display: none !important;
    }
    button, .button {
        display: none !important;
    }
}

.button {
    background-color: black;
    border: 1px solid white;
    color: white;
    padding: 10px 20px;
    font-size: 26px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 15px;
}

.link {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%);
    background-size: 100% 4px;
    pointer-events: none;
    z-index: 9999;
    animation: scanlines 3s linear infinite;
    will-change: background-position;
    transform: translateZ(0);
}